---
import Layout from "../layouts/Layout.astro";
---

<Layout title="funcity">
  <main>
    <p>Coming soon...</p>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
</style>
