---
import { getLandAcknowledgment } from "../utils/city";
const BUILD_TIME_LAND_ACK = getLandAcknowledgment();
---

<footer class="site-footer">
  <p>
    <span class="land-ack">{BUILD_TIME_LAND_ACK}</span>
  </p>
  <p>
    We are now witnessing increased attacks on 2SLGBTQI+ rights and continued
    disinformation campaigns targeting progressive and environmental policies,
    as well as concerted efforts to undermine public services, all while
    exclusionary zoning exacerbates housing unaffordability, and lack of access
    to mental health care compounds the effects of contaminated drug supply,
    disproportionately harming marginalized communities. As we go about our
    lives on these lands, may we never forget our responsibility to pursue the
    truth, reconciliation, and justice for those whose futures have been stolen
    and those who continue to suffer the legacy of systemic oppression.
  </p>
  <p>A more equitable city is a more fun place to live.</p>
</footer>

<script>
  import { getLandAcknowledgment } from "../utils/city";
  import { ifEmptyWriteFromProvider } from "../utils/dynamic";
  ifEmptyWriteFromProvider(document, ".land-ack", getLandAcknowledgment);
</script>

<style>
  .site-footer {
    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 2rem;
    color: var(--color-discreet);
    font-size: 0.7rem;
  }
</style>
